@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    display: block;
    max-width: 100%;
    font-family: Arial, sans-serif;
    background-color: #F7F8FC;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Mulish';
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 32px;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
}

h1,
h2 {
    text-align: center;
    color: #333;
}

select,
input,
button {
    /* Ajuste para levar em conta o padding */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    /* Garante que o padding não aumente a largura total */
    max-width: 100%;
    /* Evita que os elementos ultrapassem a largura da tela */
}

button {
    background: #3751FF;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

button:hover {
    background-color: #0056b3;
}

.table-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

#home {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons>h2 {
    margin-top: 24px;
    color: #252733;
    font-size: 19px;
}

#operationDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

#operationFields {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.personalData {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border-bottom: 1px solid #DFE0EB;
    padding-bottom: 24px;
}

.personalData>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.dataTable {
    width: 100%;
}

.tableHead {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
}

.tableHead h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #9FA2B4;
}

.tableBody {
    display: flex;
    flex-direction: column;
}

.tableBody>div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #DFE0EB;
}

.tableBody>div:nth-last-child(1) {
    border-bottom: 0px;
}


.tableBody>div>h3 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #252733;
}

.tableBody>div>div {
    display: flex;
    justify-content: end;
    gap: 24px;
    align-items: center;
}

.tableBody>div>div>button {
    background: #FEC400;
    border: none;
    font-size: 11px;
    border-radius: 100px;
}

.tableBody>div>div>button:hover {
    background: #d3a305;
}

.tableBody>div>div>a>img {
    height: 24px;
    cursor: pointer;
}

.addressData {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 12px;
}

.addressData>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.addressData>div>div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.linha {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
    margin-bottom: 12px;

}

.linha>div {
    width: 100%;
}

#operationDiv label {
    color: #9FA2B4;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

#operationDiv input {
    background: #FCFDFE;
    border: 1px solid #F0F1F7;
    border-radius: 8px;
    font-family: 'Mulish';
}

#executeBtn {
    align-self: end;
}