body {
    display: block;
    max-width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Evita a rolagem horizontal */
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1,
h2 {
    text-align: center;
    color: #333;
}

select,
input,
button {
    display: block;
    width: calc(100%);
    /* Ajuste para levar em conta o padding */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    /* Garante que o padding não aumente a largura total */
    max-width: 100%;
    /* Evita que os elementos ultrapassem a largura da tela */
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#dataTable {
    width: 100%;
}

.table-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    width: 85%;
    border-collapse: collapse;
}

table,
th,
td {}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#home {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons>h2 {
    margin-top: 24px;
}

#operationDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}